{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": ["public/**/*"], // убрать
  "rules": {
    "prettier/prettier": "error",
    "no-undef": "warn"
  }
}
