.grid-col4,
.grid-col3 {
  display: grid;
  gap: 1.75em;
}

.grid-col4 {
  grid-template-columns: repeat(4, calc(25% - 1.75em * 0.75));
}

.grid-col3 {
  grid-template-columns: repeat(3, calc(100% / 3 - 3.5em / 3));
}

@media screen and (width <= 992px) {
  .grid-mob-full {
    grid-template-columns: 100%;
  }

  .grid-tablet2 {
    @media screen and (width >= 577px) {
      grid-template-columns: repeat(2, calc(50% - 0.875em));
    }
  }
}
