$font1: 'Navigo', sans-serif;
$black: #222;
$primary: #5e67ff;
$primary-white: #f3f4ff;
$secondary: #383b7c;
$gray: #6b7177;
$orange: #e1833f;
$blue: #5d68f1;
$green: #5bbb7b;
$red: #ab3331;
$dark: #041e42;
$shadow: 0 0.375em 0.9375em rgb(64 79 104 / 5%);
$shadow2: 0.625em 0.625em 2.5em rgb(34 34 34 / 5%);
$shadow3: 0 0.3125em 1.25em rgb(31 75 63 / 7%);
$border: 1px solid #e9e9e9;
$vh: calc(100 * var(--vh));
