.reviews {
  &__top {
    text-align: center;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 2.75em;
  }

  &__tab {
    position: relative;
    flex-shrink: 0;
    width: 4.375em;
    height: 4.375em;
    margin: 0 1.125em;
    cursor: pointer;
    border-radius: 50%;

    &._active {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      width: 5.75em;
      height: 5.75em;
      pointer-events: none;
      content: '';
      border: 2px solid $primary;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.3s;

      @include center-absolute;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  .tab-content {
    margin-top: 3.45em;
  }
}

.tab-content {
  display: none;

  &._active {
    display: block;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 57.625em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

  &::before {
    width: 3.75em;
    height: 2.63em;
    margin-bottom: 2.5em;
    content: '';
    background-image: url('assets/img/quote.svg');

    @include bg-img-size(100%);
  }

  &__info {
    margin-top: 2.45em;
  }
}

.offer {
  padding: 6.75em 0 9em;
  background-color: $secondary;
  border-radius: 0.625em;

  &__inner {
    display: grid;
    grid-template-columns: 40.5em calc(100% - 40.5em - 8.875em);
    justify-content: space-between;
  }

  &__media {
    position: relative;
    display: grid;
    grid-template-columns: 45.2% calc(54.8% - 0.875em);
    gap: 0.875em;
    align-items: flex-end;
  }

  &__img {
    @include img-cover(133%);

    border-radius: 3.75em 0.25em 0.25em;

    &._type2 {
      padding-bottom: 157%;
      border-radius: 0.25em 3.75em 0.25em 0.25em;
    }
  }

  .main-advantage {
    &:not(._type2) {
      top: 6.94em;
      right: unset;
      bottom: unset;
      left: 7.81em;
    }

    &._type2 {
      right: -6.25em;
      bottom: 4.12em;
    }
  }

  &__content {
    color: #fff;
  }

  &__title {
    max-width: 14em;
  }

  &__desc {
    margin-top: 1.69em;
  }

  &__list {
    margin-top: 2em;

    @include grid100gap(1.25em);

    &-item {
      display: flex;

      &::before {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.375em;
        margin-right: 1em;
        content: '';
        background-image: url('assets/img/check.svg');

        @include bg-img-size(100%);
      }
    }
  }

  &__nav {
    display: flex;
    margin-top: 2.25em;
  }
}

.platform-workers {
  position: absolute;
  bottom: 0;
  left: 3em;
  display: flex;
  align-items: center;
  padding: 0.9375em 1.5em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: $shadow2;
  transform: translateY(50%);

  &__items {
    display: flex;
    margin-left: 1.44em;
  }

  &__item {
    width: 2.5em;
    height: 2.5em;

    &:not(:first-child) {
      margin-left: -0.625em;
    }

    img {
      border: 0.125em solid #fff;
    }
  }
}

@media screen and (width <= 992px) {
  .reviews {
    padding: 1.94em 0 4.43em;

    &__tabs {
      justify-content: space-between;
      margin-top: 2.3em;
    }

    &__tab {
      width: 3.13em;
      height: 3.13em;
      margin: 0;

      &::before {
        width: 4.12em;
        height: 4.12em;
        border-width: 1px;
      }
    }

    @media screen and (width >= 577px) {
      &__tabs {
        justify-content: center;
      }

      &__tab {
        margin: 0 0.75em;
      }
    }

    .tab-content {
      margin-top: 1.44em;
    }
  }

  .review-card {
    &::before {
      width: 2.875em;
      height: 2.0156em;
      margin-bottom: 1.81em;
    }

    &__text {
      font-size: 1.125em;
      line-height: 155%;
    }

    &__info {
      margin-top: 1.81em;

      @include grid100gap(0.375em);
    }

    &__name,
    &__co {
      font-size: 0.875em;
    }
  }

  .offer {
    padding: 1.125em 0 2.5em;
    border-radius: 0;

    &__inner {
      grid-template-columns: 100%;
      gap: 1.56em;
    }

    .platform-workers,
    .main-advantage {
      display: none;
    }

    &__title {
      max-width: 100%;
      text-align: center;
    }

    &__desc {
      margin-top: 1.38em;
      text-align: center;

      .text15 {
        line-height: 171%;
      }
    }

    &__list {
      gap: 0.625em;
      margin-top: 1.375em;

      &-item {
        .text15 {
          line-height: 187%;
        }
      }
    }

    &__nav {
      justify-content: center;
      margin-top: 1.81em;
    }
  }
}

@media screen and (width <= 576px) {
  .offer {
    &__media {
      grid-template-columns: 45.2% calc(54.8% - 0.5em);
      gap: 0.5em;
    }

    &__img {
      border-radius: 2.7967em 0.1864em 0.1864em;

      &._type2 {
        border-radius: 0.1864em 2.7967em 0.1864em 0.1864em;
      }
    }

    &__nav {
      .m-btn {
        width: 100%;
      }
    }
  }
}

@media screen and (width <= 427px) {
  .reviews {
    padding: 2.5em 0 3.3em;

    .tab-content {
      margin-top: 1.44em;
    }
  }

  .review-card {
    &::before {
      margin-bottom: 1.44em;
    }

    &__info {
      gap: 0.375em;
      max-width: 12em;
      margin: 1.44em auto 0;
    }
  }

  .offer {
    padding: 1.5em 0;
  }
}
