.dashboard {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 1.25em));
  gap: 2em 1.875em;
  margin-top: 2em;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  padding: 0 1.875em 1.875em;
  background: #fff;
  border-radius: 0.4375em;

  &._big2 {
    grid-column: 1/-1;
  }

  &._big {
    grid-column: span 2;

    .dashboard-card__bottom {
      width: calc(100% + 2em);
    }
  }

  &__top {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4em;
    border-bottom: $border;
  }

  &__more {
    &-btn {
      position: relative;
      width: 0.1875em;

      &::before {
        width: 1em;
        height: 1em;
        content: '';

        @include center-absolute;
      }

      svg {
        width: 100%;
        height: auto;
      }

      &:hover {
        circle {
          fill: $primary;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-height: 20em;
  }

  .chart {
    width: calc(100% + 5em);
    height: 16em;
    margin-right: -1.5em;

    @include center;
  }

  .line-chart {
    height: auto;
    margin: 0 0 0 -1.5em;
  }

  &__link {
    color: #6440fb;
    text-decoration: underline;

    span {
      font-size: 0.875em;
      line-height: 120%;
    }
  }

  &__services {
    padding-top: 0.625em;
  }

  &__buys,
  &__projects {
    align-self: flex-start;
    width: 100%;
  }
}

.apexcharts-legend {
  justify-content: center !important;
  overflow: unset !important;
  font-family: $font1;

  &-series {
    display: flex;
    align-items: flex-start;
    margin: 12px 0 !important;
  }

  &-marker {
    top: 1px !important;
    left: -2px !important;
    width: 0.5625em !important;
    height: 0.5625em !important;
  }

  &-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
  }

  &-num {
    font-size: 14px;
    line-height: 120%;
    color: $gray;
    opacity: 0.7;
  }
}

.line-chart {
  .apexcharts-xaxistooltip {
    display: none;
  }

  .apexcharts-tooltip {
    padding: 0.25em;
    pointer-events: unset !important;
    border: none !important;
    box-shadow: 0 0 8px rgb(16 30 115 / 12%);
    opacity: 1 !important;

    @include center;

    &-title {
      display: none;
    }

    &-marker {
      display: none;
    }

    &-text-y {
      &-label {
        display: none;
      }

      &-value {
        margin: 0 !important;
        text-align: center;
      }
    }
  }
}

.service-card3 {
  display: grid;
  grid-template-columns: 7.5em calc(100% - 8.5em);
  gap: 1em;
  padding: 1.25em 0;
  border-bottom: $border;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .service-card {
    &__img {
      padding-bottom: 75%;
      border-radius: 0.25em;
    }

    &__content {
      display: flex;
      padding: 0;
    }

    &__bottom {
      padding-top: 0.25em;
      border: none;
    }

    &__title {
      line-height: 160%;
    }

    &__reviews {
      margin: 0;
    }
  }
}

.buy-card {
  display: flex;
  padding: 1.25em 0;
  border-bottom: $border;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  .avatar {
    width: 3.75em;
    height: 3.75em;
    margin-right: 0.94em;
  }

  &__content {
    padding-top: 0.25em;
  }

  &__title {
    @include truncate(2);

    a {
      font-size: 0.9375em;
      line-height: 160%;
    }

    span {
      color: $primary;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }

  &__price {
    font-size: 0.9375em;
    font-weight: 500;
    line-height: 187%;
  }

  &__date {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 200%;
    color: $gray;
  }
}

.activity {
  width: calc(100% + 1em);
  height: 100%;
  padding-top: 1.875em;
}

.activity-item {
  position: relative;
  display: grid;
  grid-template-columns: 2.3em calc(100% - 5.3em);
  gap: 3em;
  margin-bottom: 0.375em;
  color: $dark;

  &._red {
    &::before {
      border-color: #f64e60;
    }
  }

  &._blue {
    &::before {
      border-color: #3699ff;
    }
  }

  &._orange {
    &::before {
      border-color: #ef6327;
    }
  }

  &._purple {
    &::before {
      border-color: #8950fc;
    }
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 0.125em;
    left: 3em;
    width: 0.8125em;
    height: 0.8125em;
    content: '';
    border: 3px solid #663259;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 3.3125em;
    width: 0.1875em;
    height: calc(100% - 1.44em);
    content: '';
    background: #e5eaee;
    border-radius: 0.5em;
  }

  &__time {
    font-size: 0.875em;
    line-height: 157%;
    text-align: right;
  }

  &__text {
    font-size: 0.9375em;
    line-height: 147%;
  }
}

.project-card {
  display: grid;
  grid-template-columns: calc(100% - 41em) 18em 8em 12em;
  gap: 1em;
  align-items: center;
  padding: 1.25em 0;
  border-bottom: $border;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__title {
    font-size: 1.0625em;
    font-weight: 500;
    line-height: 165%;
  }

  .reply-row__props {
    margin-top: 0.44em;
  }

  &__price,
  &__type {
    font-size: 0.9375em;
    font-weight: 300;
    line-height: 187%;
  }

  &__nums {
    display: flex;
    align-items: center;

    &-title {
      font-size: 0.9375em;
      line-height: 187%;
    }
  }

  &__count {
    @include center;

    flex-shrink: 0;
    width: 1.375em;
    height: 1.375em;
    margin-right: 0.75em;
    font-weight: 700;
    color: #fff;
    background-color: #ff6262;
    border-radius: 50%;

    span {
      font-size: 0.6875em;
    }
  }
}

@media screen and (width <= 992px) {
  .dashboard {
    grid-template-columns: 100%;
    gap: 1.25em;
    margin-top: -0.75em;
  }

  .dashboard-card {
    padding: 0 1.25em 1.25em;

    &._big {
      grid-column: 1/-1;

      .dashboard-card__bottom {
        width: calc(100% + 1em);
      }
    }

    &__top {
      min-height: 3.69em;
    }

    &__bottom {
      min-height: 12em;
    }

    .chart {
      height: 12em;
    }

    .line-chart {
      height: auto;
    }

    &__services {
      padding-top: 0;
    }

    &__link {
      span {
        font-size: 0.75em;
      }
    }
  }

  .service-card3 {
    padding: 0.9375em 0;
  }

  .activity {
    padding-top: 1.25em;
  }

  .project-card {
    grid-template-columns: 100%;
    gap: 0.81em;
    padding: 1.125em 0;
  }
}

@media screen and (width <= 576px) {
  .dashboard-card {
    &__top {
      &._type2 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 4.75em;
      }
    }

    &__link {
      margin-top: 0.25em;
    }
  }

  .service-card3 {
    grid-template-columns: 100%;
    gap: 0.5em;

    .service-card {
      &__img {
        padding-bottom: 49%;
      }

      &__title {
        font-size: 0.875em;
        line-height: 171%;
      }
    }
  }

  .buy-card {
    .avatar {
      margin-right: 1.5em;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;
      order: -1;
      min-height: 3.75em;
      margin: 0;
    }

    &__title {
      width: calc(100% + 5.25em);
      margin-top: 1.25em;
      margin-left: -5.25em;
    }
  }

  .activity-item {
    grid-template-columns: 2.375em calc(100% - 3.0625em);
    gap: 0.8125em;

    &::before {
      top: 1.625em;
      left: 1.56em;
    }

    &::after {
      top: 3.125em;
      left: 1.875em;
      height: calc(100% - 3.8125em);
    }

    &__text {
      padding-top: 1.62em;
      font-size: 0.875em;
      line-height: 157%;
    }
  }
}
